asyncpg>=0.30.0
email_validator>=2.2.0
fastapi>=0.115.12
mypy>=1.15.0
pydantic>=2.11.4
pydantic-settings>=2.9.1
uvicorn>=0.34.2
sqlalchemy>=2.0.40
httptools>=0.6.4
sqladmin>=0.20.1
loguru>=0.7.3
types-passlib>=1.7.7.20250602
orjson>=3.10.18
pytest>=8.4.1
httpx>=0.28.1
pytest_asyncio>=1.0.0
uvloop>=0.21.0 ; sys_platform != 'win32'
